html,
body,
#root {
    min-height: 100%;
}

p {
    margin: 0;
}

.app {
    min-height: 100vh;
    text-align: center;
    background-color: #282c34;
    color: white;

    header h1 {
        color: burlywood;
    }
}

.btn {
    cursor: pointer;
}
